@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg: white;
	--block-bg: white;
	--icon-color: lightgrey;
	--border-color: lightgrey;
	--temp-high-color: darkorange;
	--temp-low-color: lightseagreen;
}

*:focus {
	outline: none;
	/* 1px solid var(--link-color); */
	/* @apply ring ring-link-color; */
}

p, h1, h2 {
	color: rgb(70, 70, 70);
}

.blurb p, .under-da-hood p, .blurb h1, .under-da-hood h2 {
	margin-bottom: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {}

main {
	flex: 1;
	 background-color: var(--main-bg); 
	/* background: linear-gradient(45deg, lightgreen, lightblue); */
	/* background-color:rgba(0, 0, 0, 0.5); */
}

main a {
	color: var(--temp-low-color);
	transition:  color .3s;
}
main a:hover {
	color: var(--temp-high-color);
	transition:  color .3s;
}

footer {
	height: 5vh;
	margin-top: auto;
	border-top: 1px solid var(--border-color);
}

/* Section styles */
.wrapper {
	max-width: 1200px;
}
.block-style {
	padding: 1.5rem 2rem;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background-color: var(--block-bg);
}

/* Blurb section styles */
.cta {
	@apply drop-shadow hover:drop-shadow-none active:shadow-inner;
	padding: 0.5rem 1rem;
	border: 1px solid var(--border-color);
	background-color: var(--block-bg);
}

/* Data section styles */
.current {		
	margin-bottom: 2rem;
	padding: 1.5rem;	
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background-color: var(--block-bg);
}
.weather-card {
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background-color: var(--block-bg);
}
.temp-high {
	color: var(--temp-high-color);
}
.temp-low {
	color:  var(--temp-low-color);
}

/* icons */
.current-icon {
	font-size: 3rem;
	color: var(--icon-color);
}
.forecast-icon {
	font-size: 1.5rem;
	color: var(--icon-color);
}